name: admin_app
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1
  supabase_flutter: ^1.10.25
  cupertino_icons: ^1.0.8
  fl_chart: ^1.0.0

  # Plugins requiring NDK 27
  app_links: ^3.5.0
  path_provider: ^2.1.2
  shared_preferences: ^2.2.3
  sign_in_with_apple: ^4.3.0
  url_launcher: ^6.2.6
  webview_flutter: ^4.5.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
