  name: student
  description: Student app for Real-time Student Task Tracker
  version: 1.0.0
  environment:
    sdk: '>=2.19.0 <3.0.0'

  dependencies:
    flutter:
      sdk: flutter
    supabase_flutter: ^2.0.0

  dev_dependencies:
    flutter_test:
      sdk: flutter
    flutter_lints: ^4.0.0

  flutter:
    uses-material-design: true